{
  "env": {
    "amd": true
  },
  "extends": [
    "eslint:recommended",
  ],
  "globals": {
    "__dirname": true,
    "document": true,
    "location": true,
    "module": true,
    "NodeList": true,
    "Promise": true,
    "require": true,
    "setTimeout": true,
    "window": true
  },
  "parser": "babel-eslint"
}
