node_modules/
*.log
/.htaccess
index.php
sitemap.xml
sitemap.xml.gz
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/advanced-cache.php
wp-admin/
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/plugins/hello.php
wp-content/plugins/akismet/
wp-content/themes/twentynineteen/
wp-content/themes/*/media/
wp-content/themes/*/scripts/
wp-content/themes/*/styles/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-includes/
