@function get-font-size($sz: '', $bp: $mobile) {
  @each $breakpoint, $sizes in $font-sizes {
    @if $breakpoint == $bp and map-has-key($sizes, $sz) {
      @each $size, $value in map-get($font-sizes, $breakpoint) {
        @if $size == $sz {
          @return $value;
        }
      }
    }
  }

  @return initial;
}

@function get-admin-bar-height(
  $breakpoint: $mobile
) {
  $height: 0;

  @each $name, $value in $admin-bar-height {
    @if $name == $breakpoint {
      $height: $height + $value;
    }
  }

  @return $height;
}

@function get-header-height(
  $breakpoint: $mobile
) {
  $header-array: $header-height;

  $height: 0;

  @each $name, $value in $header-array {
    @if $name == $breakpoint {
      $height: $height + $value;
    }
  }

  @return $height;
}
